h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #000000;
  text-align: center;
}

#countDownTimer {
  font-size: 25px;
}

body {
  background-image: linear-gradient(
    to left,
    rgb(110, 202, 255),
    rgb(255, 255, 255)
  );
  color: rgb(44, 0, 95);
}

.button {
  width: 150px;
  height: 30px;
  background-color: rgb(212, 227, 255);
  border-radius: 10px;
  border-color: rgb(192, 232, 255);
}

.craps {
  width: 90px;
  height: 30px;
  background-color: rgb(212, 227, 255);
  border-radius: 10px;
  border-color: rgb(192, 232, 255);
}
